# general utilities

snippet list
\begin{enumerate}
	\item $0
\end{enumerate}
endsnippet

snippet ulist
\begin{itemize}
	\item $0
\end{itemize}
endsnippet

snippet subsec
\subsection{$0}

endsnippet

snippet sec
\section{$0}

endsnippet

snippet sf
\textsf{$0}
endsnippet

