# scientific stuff or something like that

snippet calc
\begin{align}
	$1
\end{align}
endsnippet

snippet frac
\frac{
	$1
}{
	$2
}
endsnippet

snippet impl
\implies 
endsnippet

snippet °
^ {\circ}
endsnippet

snippet celsius
^ {\circ}\textrm{C}
endsnippet

# tables

snippet table
\begin{tabular}{$1}
	$2
\end{tabular}
endsnippet
