global !p
# TODO: function to check if in math mode
endglobal

snippet today
\``!p snip.rv = today()`\`
endsnippet

snippet time
\``!p snip.rv = time()`\`
endsnippet

snippet now
\``!p snip.rv = today()`  `!p snip.rv = time()`\`
endsnippet

