# I don't know why you're here, I don't know who you are, but all I can say is "GL HF".
# No, the idea of splitting the LaTeX snippets up is 100 % sure not coming from TornaxO7

extends latex/general
extends latex/inits
extends latex/scientific
