/* efficiency
@define-color base00 #01172A;
@define-color base01 #0D2135;
@define-color base02 #182C40;
@define-color base03 #73869F;
@define-color base04 #7D90A9;
@define-color base05 #889BB4;
@define-color base06 #9AADC8;
@define-color base07 #ADC0DB;
@define-color base08 #DF9799;
@define-color base09 #D69E82;
@define-color base0A #C1A775;
@define-color base0B #6FB18D;
@define-color base0C #5DBABE;
@define-color base0D #87AFE1;
@define-color base0E #C99DCE;
@define-color base0F #DB97B5;
*/
/* abnormalize */
@define-color base00 #001E1B;
@define-color base01 #002724;
@define-color base02 #003833;
@define-color base03 #70799A;
@define-color base04 #8F98BA;
@define-color base05 #AFB8DB;
@define-color base06 #C5CEF2;
@define-color base07 #DBE2FF;
@define-color base08 #FFBDCA;
@define-color base09 #F9C48D;
@define-color base0A #D9D086;
@define-color base0B #8BE1B1;
@define-color base0C #6AE3D6;
@define-color base0D #9FD6FF;
@define-color base0E #E1C3FF;
@define-color base0F #FFB9E9;

* {
	border: none;
	border-radius: 0;
	font-family: Roboto Mono, Cantarell;
	font-weight: normal;
	font-size: 9pt;
	color: @base04;
}

window#waybar {
	background-color: @base00;
}

#workspaces button {
	background-color: transparent;
	min-width: 52px;
}

#workspaces button:hover {
	background: @base00;
	text-shadow: inherit;
	box-shadow: inherit;
}

#workspaces button.focused {
	background-color: @base01;
  box-shadow: inset 0 0.5px @base04;
}


#clock, #battery, #cpu, #memory, #temperature, #backlight, #pulseaudio, #mode {
	padding: 0 9px;
}

#mode {
	background-color: @base02;
	color: @base04;
	margin-left: 20px;
}

#clock {
	box-shadow: inset 0 0.5px @base04;
}

#clock, #battery, #cpu, #memory, #temperature, #pulseaudio {
	 color: @base04;
}
