/*
    vim: ts=4 sw=4 et
*/

* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMonoNL NF Light, Cantarell;
    font-weight: normal;
    font-size: 9pt;
    color: #B6B3B4;
}

window#waybar {
    background-color: #212224;
}

#workspaces button {
    background: transparent;
    min-width: 46px;
}

#workspaces button:hover {
    box-shadow: inset 0 0.5px #00C7F7;
}

#workspaces button.focused {
    box-shadow: inset 0 0.5px #B6B3B4;
}


#clock, #battery, #cpu, #memory, #temperature, #backlight, #pulseaudio, #mode, #custom-int-kb {
    padding: 0 8px;
}

#mode {
    color: #00C7F7;
    margin-left: 20px;
}

#clock {
    box-shadow: inset 0 0.5px #B6B3B4;
    padding-left: 10px;
    padding-right: 10px;
}

#clock, #battery, #cpu, #memory, #temperature, #pulseaudio {
     color: #B6B3B4;
}
